.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
    border-radius: 25px;
    background: linear-gradient(180deg, #f0f4f8 0%, #d9e2ec 100%);
    height: min-content;
}

.projectImage {
    border-radius: 25px;
}

.contentBody {
    margin-right: 2%;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    color: rgba(24, 36, 55, 1);
    font-family: 'SpartanRegular';
    font-weight: normal;
}

.cardTitle {
    font-size: 1.8rem;
    text-shadow: -1px 1px 1px #FE5F55;
}

.cardSubTitle {
    font-size: 1.4rem;
    margin-top: 1%;
}