.hero {
    background: linear-gradient(180deg, #f0f4f8 0%, #d9e2ec 100%);
    position: relative;
}

.heroName {
    font-family: 'RalewayRegular';
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    transform: translateY(-40px);
    animation-delay: 1.2s;
    animation: fadeInFromTop 3s forwards;
}

@keyframes fadeInFromTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.heroTxt {
    font-family: 'RalewayRegular';
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    animation-delay: 1.2s;
    animation: fadeInFromBottom 3s forwards;
}

@keyframes fadeInFromBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lineLeft {
    stroke-dasharray: 50;
    stroke-dashoffset: -50;
    animation: draw 1.8s forwards;
}

.lineRight {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: draw 1.8s forwards;
}

.lineLeft,
.lineRight {
    animation-delay: 1.2s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.imgContainer {
    display: flex;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 20%;
    border: 0px solid #FE5F55;
    box-shadow: 0 0 0 #FE5F55;
    animation: growShadow 3s forwards;
}

@keyframes growShadow {
    to {
        box-shadow: 0 0 40px #FE5F55;
    }
}
