.progressContainer {
    padding-top: 5%;
    position: relative;
    width: 80vw;
}

.progressBar {
    appearance: none;
    height: 8px;
    width: 100%;
    border-radius: 100px;

    /* Chrome and Safari */
    &::-webkit-progress-bar {
        background: linear-gradient(180deg, #f0f4f8 0%, #d9e2ec 100%);
        border-radius: 100px;
    }

    &::-webkit-progress-value {
        background-color: #FE5F55;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    /* Firefox */
    &::-moz-progress-bar {
        background-color: #FE5F55;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }
}

.carImage {
    position: absolute;
    bottom: 8px;
    transform: translateX(-50%);
}