.header {
    height: 10%;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    background: linear-gradient(90deg, rgba(44,54,85,1) 28%, rgba(24,36,55,1) 75%);
}

.brandName {
    font-family: 'SpartanRegular';
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: -2px 2px 2px #FE5F55;
}

.navTxt {
    font-family: 'RalewayRegular';
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.2rem;
    color: #fff;
    display: inline-block; /* Ensure transform works correctly */
    width: 10rem; /* Fixed width */
    text-align: center; /* Center text */
}

.navTxt span {
    display: inline-block;
    transition: transform 0.8s ease, color 0.8s ease; /* Use transform for scaling */
}

.navTxt:hover span {
    font-family: 'RalewayBold';
    font-optical-sizing: auto;
    font-style: normal;
    transform: scale(1.3); /* Scale up the text */
    color: #FE5F55;
}