.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(90deg, rgba(44,54,85,1) 28%, rgba(24,36,55,1) 75%);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content {
    flex: 1;
    text-align: center;
}

.body {
    font-family: 'SpartanRegular';
    font-weight: normal;
    font-size: 1.1rem;
    color: #fff;
    text-align: left;
}

.heading {
    padding-left: 0.8rem;
    margin-bottom: 0;
    font-size: 4rem;
    font-family: 'SpartanRegular';
    font-weight: normal;
    color: #fff;
    text-shadow: -2px 2px 2px #FE5F55;
    text-align: start;
}


.iconContainer {
    margin: 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixelArtTop {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 144px;
    height: 114px;
    z-index: 0;
    transform: rotate(-180deg);
    position: relative;
    z-index: 0; /* Ensure this is lower than .logosContainer */
}

.pixelArtBtm {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 144px;
    height: 114px;
    position: relative;
    z-index: 0; /* Ensure this is lower than .logosContainer */
}

.logosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -8px; /* Adjust this value as needed to ensure logos are in front */
    margin-bottom: -8px;
}