/* .main {
    position: relative;
    z-index: 2;
    top: 5rem;
}

.heading {
    padding: 0.8rem;
    font-size: 4rem;
    color: #FE5F55;
} */

.about {
    background: #000;
    color: #fff;
    padding: 50px;
    position: relative;
}