.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(0deg, #f0f4f8 0%, #d9e2ec 100%);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content {
    flex: 1;
    text-align: center;
}

.heading {
    padding-left: 0.8rem;
    margin-bottom: 0;
    font-size: 4rem;
    font-family: 'SpartanRegular';
    font-weight: normal;
    color: rgba(44, 54, 85, 1);
    text-shadow: -2px 2px 2px #FE5F55;
    text-align: start;
}

.contactLink {
    position: relative;
    color: #FE5F55;
    text-decoration: underline 1.5px solid #FE5F55;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    grid-gap: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: relative;
}